Automating Real-Life Use Cases with n8n _ Weather Alerts + Google Sheets + Email Integration.json
{
  "name": "Automating Real-Life Use Cases with n8n | Weather Alerts + Google Sheets + Email Integration",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Rangpur&appid=c219c7c9ef50f7b2a3b12c4ecde462cc&units=metric",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        -32
      ],
      "id": "afe73e1b-1da9-4697-b35a-d8440d2e2e10",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Gmail Address'] }}",
        "subject": "=hi  {{ $('On form submission').item.json['Full Name'] }}",
        "message": "=hi  {{ $('On form submission').item.json['Full Name'] }} today the city {{ $json.name }} tempreture is {{ $json.main.temp }} degree cc Time",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        -32
      ],
      "id": "fe49dedf-08eb-4de2-988c-aa4bcdde10f9",
      "name": "Send a message",
      "webhookId": "1c9afd1a-81d1-42e9-9b58-be03ddc8a23b",
      "credentials": {
        "gmailOAuth2": {
          "id": "arIFwef3IbI8kWo6",
          "name": "Gmail account 304"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Course Registration Form",
        "formDescription": "“আমাদের কোর্সে যোগ দিতে নিচের ফর্মটি পূরণ করুন। সঠিক তথ্য দিন যাতে আমরা সহজে আপনার সাথে যোগাযোগ করতে পারি। আমরা আপনার শেখার আগ্রহ এবং লক্ষ্য সম্পর্কে জানতে আগ্রহী।”",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Enter your full name",
              "requiredField": true
            },
            {
              "fieldLabel": "Gmail Address",
              "fieldType": "email",
              "placeholder": "example@gmail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Tell us about yourself",
              "placeholder": "Write a short introduction about yourself (education, skills, interests)",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -848,
        -16
      ],
      "id": "835f0aaa-dd05-45fb-b5af-78c2d1cdc480",
      "name": "On form submission",
      "webhookId": "73dd1642-1193-4474-8902-0a4e6f146f20"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OA5hzLPVyQaaxN1Od9HPtwj9rLXVtrWcEQq-5PrApVY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OA5hzLPVyQaaxN1Od9HPtwj9rLXVtrWcEQq-5PrApVY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $json['Full Name'] }}",
            "Gmail": "={{ $json['Gmail Address'] }}",
            "About": "={{ $json['Tell us about yourself'] }}",
            "Submit Date": "={{ $json.submittedAt }}",
            "Submit Time": "={{ $json.submittedAt }}"
          },
          "matchingColumns": [
            "Gmail"
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gmail",
              "displayName": "Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "About",
              "displayName": "About",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submit Date",
              "displayName": "Submit Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Submit Time",
              "displayName": "Submit Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -352,
        -16
      ],
      "id": "33df1442-8f87-4bcd-ba23-180216014755",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bvUJ81qBzmXgO7Lj",
          "name": "Google Sheets account 370"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8793a486-dfc9-425f-b85c-9f968ee3bd0f",
              "leftValue": "={{ $json['Tell us about yourself'] }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -608,
        0
      ],
      "id": "9b16d6e4-d012-4ae7-a8d2-5e4c4c3b4cc2",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Gmail }}",
        "subject": "hi",
        "message": "fdgsdf",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -160,
        480
      ],
      "id": "f83c1f75-cb6d-416b-95d7-a510e3b4aa7c",
      "name": "Send a message1",
      "webhookId": "770350f0-ae4a-4876-bfca-aa0e9cf64f6d",
      "credentials": {
        "gmailOAuth2": {
          "id": "arIFwef3IbI8kWo6",
          "name": "Gmail account 304"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Full Name": "xz\\sc",
          "Gmail Address": "rj.riyad3077@gmail.com",
          "Tell us about yourself": "fdsa",
          "submittedAt": "2026-04-23T21:23:26.696+02:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4e8d017f-ee2d-4993-ab74-cb303f79ae9a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50918ee0be4fd9ad8edd59da0eb4c4a6502c186d6a425a1cf635ba824838446e"
  },
  "id": "u8bvYjqhIAufqGn0",
  "tags": []
}